.inner-hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  animation: slideInFade 0.8s ease;
}

.inner-hero-container > img {
  animation: fadeinShoes 0.8s linear;
  margin: auto;
  max-width: 100%;
}

.inner-hero-container > p {
  width: 60%;
  text-align: center;
}

.btn {
  background: #000;
  color: #fff !important;
  text-align: center;
}

@media (min-width: 767px) {
  .inner-hero-container > img {
    max-width: 100%;
  }
  .inner-hero-container {
    padding-bottom: 20px;
  }
}
