.navigation-menu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-content: center;
}

.navigation-menu--mobile {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.navigation-menu--links-hide {
  transform: translateX(-1000px);
}

.navigation-menu--links-show {
  transform: translateX(0px);
}

.navigation-menu--mobile > img {
  width: 100px;
  margin: auto;
}

.navigation-menu--links {
  position: absolute;
  height: 100vh;
  background: radial-gradient(#c7ad9f 25%, #bac8c9);
  box-shadow: 0px 1px 6px 3px rgba(0, 0, 0, 0.1);
  width: 40%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 15px;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.navigation-menu--icon {
  width: 50px;
  margin: 20px;
}

@media (max-width: 767px) {
  .navigation-menu--links {
    margin-top: 100px;
  }

  .navigation-menu {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 768px) {
  .navigation-menu--links {
    position: relative;
    width: 100%;
    height: auto;
    background: none;
    box-shadow: none;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .navigation-menu--links > li {
    color: #000;
    font-size: 18px;
  }
  .navigation-menu--mobile {
    display: none;
  }

  /* Not used in desktop so just set it as always showing */
  .navigation-menu--links-hide {
    transform: translateX(0);
  }
}
